<h1 mat-dialog-title>Add new content </h1>
<div mat-dialog-content class="dialog-content">

  <!-- Title -->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput> <!--  [(ngModel)]="data.animal" -->
  </mat-form-field>

  <!-- dropdown -->
  <mat-form-field appearance="fill">
    <mat-label>Select Category</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- cover_image -->
  <input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />
  <button mat-raised-button color="primary" (click)="presentActionSheet(fileLoader)">Upload image</button>
  <span *ngIf="uploadImage != null">
    <img id="checkinImage" [src]="uploadImage" (load)="imageLoaded()" />
  </span>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button> <!-- [mat-dialog-close]="data.animal"  -->
</div>
