<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.background-image]="thumbnailImageURL()"></div>
    <mat-card-title>{{content.attributes.title}}</mat-card-title>
    <mat-card-subtitle>{{content.attributes.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="documentAttached()">
      <h3>File: <a [href]="fileURL()" target="_blank">{{documentName()}}</a></h3>
    </div>

    <div *ngIf="editorHasData()">
      <h3>Editor</h3>
      <p>
        {{content.attributes.editor}}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
