<div class="index">

  <div class="index__header">
    <div class="index__header__wrapper">
      <div class="index__header__user">
        <h2>Welcome <b>{{username}}</b></h2>
        <p *ngIf="userIsAdmin">This user has admin rights.</p>
      </div>
      <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    </div>
  </div>


  <div class="index__cards">
    <ng-container *ngFor="let item of contents">
      <app-content-card [content]="item"></app-content-card>
    </ng-container>
  </div>

  <div class="index__new-content-toggle">
    <button mat-flat-button color="primary" *ngIf="!newContentInputsVisible" (click)="newContentInputsVisible = true">Add new content</button>
    <button mat-flat-button color="warn" *ngIf="newContentInputsVisible" (click)="newContentInputsVisible = false">Discard</button>
  </div>

  <app-new-content *ngIf="newContentInputsVisible" (contentDiscarded)="newContentInputsVisible = false"></app-new-content>

</div>
